{
  "presets": [
     // 如果 modules 设为  commonjs 则tree shaking 会失效
     ["@babel/preset-env", { "modules": false }]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-transform-runtime",  {
      "corejs": 3
    }]
  ]
}
